diffusers==0.35.0
transformers==4.57.1
torch==2.7.1
mediapy
wandb
swanlab
accelerate
tqdm
numpy
decord
einops
scipy
pandas
pyarrow
fastparquet
ftfy
peft
# nvidia-nccl-cu12==2.26.5 # Accelerator多卡时可能报NCCL版本错误，安装此版本与torch版本不对应，但没关系